.container {
  box-sizing: border-box;
}
.border-bx {
  box-sizing: border-box;
}

.bordered {
  display: inline-block;
  width: 0;
  height: 1em;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
}

.rounded-image {
  border-radius: 2rem;
}
.block-center {
  margin-left: auto !important;
  margin-right: auto !important;
}

.fixed-top {
  position: absolute;
}
.navbar-default {
  max-width: 100%;
}

.nav-bar {
  font-family: "SamsungOne", Arial, sans-serif;
  background-color: #171717 !important;
}
.bg-dark {
  background-color: #171717 !important;
}
.nav-item {
  font-size: 0.9rem;
  padding: 0.8rem;
}
.navbar-brand img {
  height: 2rem;
}

.navbar-h2 {
  font-family: "SamsungSharpSans", "SamsungSharpSans-Regular";
  font-size: 42px;
}

.bizsol-title {
  font-size: 2.5rem;
  width: 75%;
}

.userinfo img {
  width: 75%;
}

.btn-outline-light {
  font-family: "SamsungOne", Arial, sans-serif;
  font-size: 0.8rem;
  margin-right: 1rem;
  border-radius: 1rem;
  text-transform: uppercase;
  width: 80;
}
[type="search"] {
  height: 1.7rem;
}

/*container*/

.carousel-section {
  background-color: #000;
  position: relative;
}
.main-container {
  background-color: #fff;
  padding-top: 0;
}

.caption-fw {
  /* display: table-cell;
vertical-align: middle;*/
  position: unset;
  bottom: 40%;
  left: 50%;
}
.caption-fw h2 {
  font-family: "SamsungSharpSans-Medium", "SamsungSharpSans-Regular", Arial,
    Helvetica, sans-serif;
  color: #fff;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-bottom: 1rem;
}

.carousel-text-p {
  color: #fff !important;
  line-height: 1.6rem;
  padding-bottom: 1rem;
}
.caption-fw p {
  font-family: "SamsungOne", Arial, Helvetica, sans-serif;
}
.indicator-line {
  width: 80%;
  height: 2px;
  border-bottom: 1px solid #808080;
  position: absolute;
  bottom: 5%;
}

/* SECONDARY NAVBAR**/
.headliner {
  color: #fff;
  padding-top: 4%;
  box-sizing: border-box;
}
.secondary-navbar {
  z-index: 1;
}
.secondary-navbar p {
  font-family: "SamsungOne" !important;
  font-size: 2.3rem;
  color: #fff;
}

/***** carousel *****/
.carousel-indicators [data-target] {
  width: auto;
  padding: 0 1rem;
  height: 1.5rem;
  text-align: center;
  background-color: #000;
  color: #fff;
  font-family: "SamsungOne", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-indent: 0 !important;
  box-sizing: inherit !important;
  text-indent: 0;
  border-bottom: 1px solid #fff;
  line-height: 0.8rem;
  margin-left: 0;
  margin-right: 0;
  box-sizing: border-box;
}
.carousel-indicators li {
  width: auto;
  height: auto;
  text-indent: unset;
}

.carousel-indicators li a {
  color: #fff;
}

.carousel {
  margin-bottom: 0;
  padding-bottom: 4rem;
}

.carousel-item img {
  height: auto;
}
.img-fluid {
  height: auto;
}

/******** START SLIDESHOW ******/

.product-slides {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  height: 100%; /* Or set a fixed height */
}

/* SLIDER */

.product-slides .slider {
  height: 100%;
  white-space: nowrap;
  font-size: 0;
  transition: 0.8s;
}

/* SLIDES */

.product-slides .slider > * {
  font-size: 1rem;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  height: 100%;
  width: 100%;
  background: none 50% no-repeat;
  background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.product-slides .prevNext {
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 100%;
  height: 0;
}

.product-slides .prevNext > div + div {
  visibility: hidden; /* Hide all but first P/N container */
}

.product-slides .prevNext a {
  background: #fff;
  position: absolute;
  width: 5rem;
  height: 5rem;
  line-height: 5rem; /* If you want to place numbers */
  text-align: center;
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}
.product-slides .prevNext a:hover {
  opacity: 1;
}
.product-slides .prevNext a + a {
  left: auto;
  right: 0;
}

/* NAVIGATION */

.product-slides .bullets {
  position: relative;
  z-index: 2;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

.product-slides .bullets > a {
  display: inline-block;
  width: 10%;
  height: 3px;
  line-height: 2rem;
  text-decoration: none;
  text-align: center;
  background: rgba(255, 255, 255, 1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.product-slides .bullets > a + a {
  background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}
.product-slides .bullets > a:hover {
  background: rgba(255, 255, 255, 0.7) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.product-slides > s:target ~ .bullets > * {
  background: rgba(255, 255, 255, 0.5);
}
/* ACTIVE */
#s1:target ~ .bullets > *:nth-child(1) {
  background: rgba(255, 255, 255, 1);
}
#s2:target ~ .bullets > *:nth-child(2) {
  background: rgba(255, 255, 255, 1);
}
#s3:target ~ .bullets > *:nth-child(3) {
  background: rgba(255, 255, 255, 1);
}
#s4:target ~ .bullets > *:nth-child(4) {
  background: rgba(255, 255, 255, 1);
}
/* More slides? Add here more rules */

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.product-slides > s:target ~ .prevNext > * {
  visibility: hidden;
}
/* ACTIVE: */
#s1:target ~ .prevNext > *:nth-child(1) {
  visibility: visible;
}
#s2:target ~ .prevNext > *:nth-child(2) {
  visibility: visible;
}
#s3:target ~ .prevNext > *:nth-child(3) {
  visibility: visible;
}
#s4:target ~ .prevNext > *:nth-child(4) {
  visibility: visible;
}
/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
}
#s2:target ~ .slider {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}
#s3:target ~ .slider {
  transform: translateX(-200%);
  -webkit-transform: translateX(-200%);
}
#s4:target ~ .slider {
  transform: translateX(-300%);
  -webkit-transform: translateX(-300%);
}
/* More slides? Add here more rules */

.product-slides {
  color: #fff;
  text-align: center;
}
.product-slides .slider h2 {
  margin-top: 40vh;
  font-weight: 200;
  letter-spacing: -0.06em;
  word-spacing: 0.2em;
  font-size: 3em;
}
.product-slides a {
  color: rgba(0, 0, 0, 0.8);
  margin-left: 0px;
  margin-right: 0px;
  text-decoration: none;
}

/****** END SLIDESHOW *******/

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/**Business resources */
.biz-title-h3 {
  color: #fff;
  font-family: "SamsungSharpSans", "SamsungSharpSans-Regular";
  font-size: 34px;
  line-height: 34px;
}
.biz-title-h4 {
  color: #fff;
  font-family: "SamsungSharpSans-Medium", "SamsungSharpSans-Regular";
  font-size: 1.39rem;
  line-height: 1.8rem;
}
.biz-para {
  font-family: "SamsungOne", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.4rem;
  color: #808080 !important;
  text-align: center;
  padding-top: 0.6rem;
}
.btn-group-sm > .btn,
.btn-sm {
  padding: 0.5rem 1rem !important;
}
.download-para {
  font-family: "SamsungOne", Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: bold;
  font-size: 1rem !important;
}

.download-para a {
  color: #fff;
  text-decoration: none;
}

/*** FIELD WORKERS SECTION ***/
.fieldworkers {
  position: relative;
  text-align: center;
  margin-top: 34px;
}

.fw-title {
  font-family: "SamsungSharpSans", "SamsungSharpSans-Regular", Arial, Helvetica,
    sans-serif;
  color: black !important;
  font-size: 34px;
  margin-top: 34px;
}

.fw-centered {
  position: absolute;
  top: 10% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}

/*** MOBILE TECHNOLOGY ****/
.mobile-tech-title {
  font-family: "SamsungSharpSans", "SamsungSharpSans-Regular", Arial, Helvetica,
    sans-serif;
  color: #000 !important;
  font-size: 1.7rem;
}

.mobile-tech-para {
  font-family: "SamsungOne", Arial, Helvetica, sans-serif;
  color: #808080 !important;
  font-size: 1.1rem;
}

/**** MARGIN TOP CLASSES ****/
.margin-top-05 {
  margin-top: 0.5em;
}
.margin-top-10 {
  margin-top: 1em;
}
.margin-top-15 {
  margin-top: 1.5em;
}
.margin-top-20 {
  margin-top: 2em;
}
.margin-top-25 {
  margin-top: 2.5em;
}
.margin-top-30 {
  margin-top: 3em;
}

/**BUTTONS**/
.btn-light {
  font-size: 0.6rem;
}

/*change transition*/
.carousel-item-next,
.carousel-item-previous,
.carousel-item-active {
  transition: transform 1.2s ease;
}

/*change transition*/
.carousel-item-next-2,
.carousel-item-previous-2,
.carousel-item-active {
  transition: transform 1.2s ease;
}


/**Business solutions css**/
.biz-solutions {
  position: relative;
  margin-top: 3%;
  text-align: center;
  color: #fff;
}

.centered {
  position: absolute;
  top: 35% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  font-family: "SamsungSharpSans", "SamsungSharpSans-Regular";
  font-size: 2rem;
}

/** Business solutions at a glance **/
.biz-glance {
  background-color: #fff;
}

.biz-glance h3 {
  padding-top: 34px;
  font-family: "SamsungSharpSans", "SamsungSharpSans-Regular";
  text-align: center;
  color: black;
  font-size: 34px;
}

/*** border for glance icons ****/

.biz-glance a {
  text-decoration: none;
  color: #000;
}

.biz-glance .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 120px;
  margin: 0 auto;
}

.biz-glance .icon-container img {
  max-width: 100%;
  height: auto;
}

.biz-table td {
  text-align: center;
}
.biz-table img {
  width: 50%;
  text-align: center;
}

.border-right {
  border-right: 1px solid gray;
}

/*** Redefine service business ****/
.fw-para {
  color: #666666 !important;
}

/** Products section **/
.fixed {
  position: fixed;
}
.fixed-background {
  background-image: url("https://images.samsung.com/is/image/samsung/p5/id/business/future-of-work/prods-section-head.jpg");
  background-color: #fff;
  background-repeat: no-repeat;
  padding: 2rem 0;
}

.fixed-wrap {
  margin-top: 15%;
}
.fixed-title {
  color: #fff;
  font-family: "SamsungSharpSans", "SamsungSharpSans-Regular";
  font-size: 34px;
}
.centered-product {
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -110%);
  font-family: "SamsungSharpSans", "SamsungSharpSans-Regular";
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

/*** Business resources css ***/
.image-biz {
  width: 80%;
}

.biz-container {
  background: #000;
}

/** START CONVO **/
.startconvo-para {
  font-family: "SamsungOne";
  color: #808080 !important;
}
.btn-convo {
  width: 20%;
}
/*animtated*/
.animated {
  color: #fff;
}
.animated .fadeIn {
  animation-duration: 3s;
}

/*main body classes*/

.sam-text-one {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.5rem;
}
.sam-text-one p {
  color: #fff;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.float-left {
  float: left;
  height: 70%;
}

.icon-img-title {
  font-family: "SamsungOne";
  line-height: 1.3rem;
  font-size: 1.3rem;
}
.downloadpdf {
  width: 4%;
  vertical-align: middle;
}
.black-bg {
  background-color: #000;
}

/***back to top button**/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #e2e3e5;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 6px;
}

#myBtn:hover {
  background-color: #e2e3e5;
}

/**samsung button**/
.s-btn-encased {
  display: inline-block !important;
  text-transform: none !important;
}

.cta--contained {
  padding: 10px 24px 11px 24px;
  border-radius: 20px;
}
.cta {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  vertical-align: middle;
  -webkit-transition-property: color, background-color, border-color,
    border-bottom-color;
  transition-property: color, background-color, border-color,
    border-bottom-color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.33, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.33, 0, 0.3, 1);
  font-family: "SamsungOne", arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
  white-space: nowrap;
}
.cta--contained.cta--white {
  color: #000 !important;
  background-color: #fff !important;
}
.cta--contained.cta--white:hover,
.cta--contained.cta--white:focus {
  color: #313131 !important;
  background-color: #ddd !important;
}
.cta--contained.cta--white.cta--disabled {
  color: #8f8f8f !important;
  background-color: #555 !important;
  cursor: default !important;
}
.cta--contained.cta--white.cta--disabled:hover,
.cta--contained.cta--white.cta--disabled:focus {
  color: #8f8f8f !important;
  background-color: #555 !important;
}

/**width adjust**/
.width-adjst {
  width: 70%;
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}

.carousel-section .carousel-indicators {
  margin-left: 15px;
  margin-right: 15px;
}

#subCarousel .slide-container:nth-child(even) {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-left: 0; 
}

#subCarousel .slide-container:nth-child(odd) {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-right: 0;
}

#subCarousel img {
  max-width: 95%;
}

.carousel-dropdown {
  color: white;
  cursor: pointer;
  padding: 1rem;
  position: absolute;
  bottom: 0;
}

.carousel-section .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-section .dropdown-item {
  color: #eeeeee;
}

.carousel-section .carousel-slide-title {
  font-size: 1.35rem;
  color: #eee;
  font-weight: bold;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 900;
}

.main-carousel-item {
  color: white;
}

#subCarousel {
  display: flex;
  width: 80% !important;
  margin: 15px auto 0;
}

.tabbed-area {
  background: #fff;
  font-family: "SamsungOne";
}

.tabbed-area p {
  color: #808080;
}

.tabbed-area img {
  width: 100%;
  height: auto;
}

.tabbed-img {
  width: 100%;
  min-width: 500px;
  display: flex;
  justify-content: center;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.delay-600 {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.tabbed-area p {
  font-size: 1.5rem;
}

.mobile-tech-disclaimer {
  color: black;
}

#productCarousel {
  width: 100%;
}

#productCarousel .product-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#productCarousel .product-slide img {
  max-width: 100%;
}

#productCarousel .product-name {
  color: white;
  font-size: 1.3rem;
  text-align: center;
}

.slick-dots li {
  color: transparent;
  background: #aaa;
  border: 0;
  height: 4px;
  flex: 1;
  outline: 0;
  cursor: pointer;
}

.slick-dots button {
  color: transparent;
  -webkit-appearance: none;
  outline: 0 !important;
}

ul.slick-dots {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 2rem auto;
  width: 50%;
  max-width: 500px;
}

.slick-dots .slick-active {
  background: white;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.slick-track {
  display: flex;
}

.carousel-control-next, .carousel-control-prev {
  width: 10%;
}

#myCarousel {
  max-width: 1600px;
  margin: 0 auto;
}

#myCarousel .carousel-image {
  margin-top: 15px;
}

#myCarousel .carousel-image img {
  height: 380px;
}

#subCarousel img {
  height: auto !important;
  max-height: 380px !important;
}

@media (min-width: 992px) {
  .centered-product {
    font-size: 0.1.5rem;
  }
}

/*iPad 1,2, Mini and Air */
/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
  .bizsol-title {
    font-size: 2rem;
  }
  .biz-glance h3 {
    font-size: 2rem;
  }
  .fixed-title {
    font-size: 2rem;
  }
  .biz-title-h3 {
    font-size: 2rem;
  }
  /* .carousel {
    height: 40rem;
  } */
}

/*iPad 3,4, and Pro 9.7 */
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* .carousel {
    height: 50rem;
  } */
  .mobile-carousel-header {
    color: #fff;
  }
  .mobile-carousel-text {
    color: #fff;
  }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .bizsol-title {
    font-size: 1.5rem;
  }
  .carousel-control-next, .carousel-control-prev {
    display: none;
  }
  #myCarousel .carousel-item img {
    height: 330px;
    margin: auto;
  }

  #subCarousel .slide-container {
    margin: auto !important;
  }

  #myCarousel .carousel-text {
    height: 180px;
  }
}

/** X-Small devices (portrait phones, less than 576px) **/
@media (max-width: 575.98px) {
  .navbar-h2 {
    font-size: 1.8rem;
  }
  .main-container {
    padding-top: 0;
  }
  .carousel-section {
    padding-top: 1rem;
  }
  .centered {
    font-size: 1.2rem;
    margin-top: 15%;
  }
  .bizsol-title {
    font-size: 1.3rem;
  }
  .biz-glance h3 {
    font-size: 1.3rem;
  }
  .fixed-title {
    font-size: 1.3rem;
  }
  .biz-title-h3 {
    font-size: 1.3rem;
  }
  .image-tab1 {
    width: 75%;
  }
  .image-tab2 {
    width: 70%;
  }
  .image-tab3 {
    width: 45%;
    float: left;
  }
  .image-tab6 {
    height: 55%;
  }

  .carousel-indicators [data-target] {
    width: 5rem;
    font-size: 0.7rem;
  }

  .mobile-carousel-header {
    font-family: "SamsungSharpSans";
    font-size: 0.8rem;
    color: #fff;
  }
  .mobile-carousel-text {
    font-family: "SamsungOne";
    font-size: 0.7rem;
    color: #fff;
  }
  .tabbed-1 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  .tabbed-2 {
    padding-bottom: 0 !important;
  }
  .tabbed-3 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .tabbed-4 {
    margin-top: 0%;
    height: 20rem;
  }
  .tabbed-5 {
    margin-top: 0%;
  }
  .tabbed-6 {
    margin-top: 0%;
  }

  .biz-solutions {
    padding-top: 2rem;
  }

  .innov-title-row {
    padding-top: 1rem;
  }

  .centered-product {
    font-size: 0.8rem;
  }

  .fieldworkers {
    margin-top: 1.3rem;
  }

  .fw-title {
    font-size: 1.3rem;
  }
  .fw-centered p {
    font-size: 0.7rem;
  }

  .carousel-indicators {
    margin-left: 3%;
    margin-bottom: 8px !important;
    width: 94%;
  }
  .carousel-indicators [data-bs-target] {
    font-size: 0.7rem;
    line-height: 0.9rem;
    border-bottom: none;
  }
  .fw-para {
    text-shadow: 0 1px #fffeef;
    font-family: "SamsungOne";
  }
  .btn-convo {
    width: auto;
  }
  .startconvo-row {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .icon-img {
    width: 35%;
  }
  .mobile-pt {
    padding-top: 0 !important;
  }
  .mobile-pb {
    padding-bottom: 0 !important;
  }

  #myCarousel .carousel-item img {
    height: 200px;
    margin: auto;
  }

  #myCarousel .carousel-text {
    height: 300px;
  }
  .image-mobtech {
    width: 75%;
    text-align: center;
  }
  .mobile-tech-title {
    text-align: center;
  }
  .image-biz {
    width: 80%;
  }
  .icon-second-row {
    padding-top: 0 !important;
  }
  .biz-title {
    padding-bottom: 0 !important;
  }
  .startconvo-col {
    margin-top: 1rem !important;
  }
  .biz-title-h4 {
    font-size: 1.06rem;
  }
  .biz-glance .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
  }
  .icon-img-title {
    font-family: "SamsungOne";
    line-height: 1.2rem;
    font-size: 1.2rem;
  }

  .carousel-control-next, .carousel-control-prev {
    display: none;
  }

  #subCarousel .slide-container {
    margin: auto !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1439px) {
  #myCarousel .carousel-image img {
    height: 280px;
  }

  .caption-fw h2 {
    max-width: 500px;
  }

  .caption-fw p {
    max-width: 500px;
  }
}